<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">


  <title></title>
</head>
<body>
      <img class="red_logo" src="/images/marvel_red_logo.png">
  <% if session[:user_id] %>
    <ul class="nav_bar">
      <li class="nav_bar_element greeting">Hi <%= @user.first_name %> <%= @user.last_name %>!</li>
      <li class="nav_bar_element signout_button"><a href="/signout">Sign out</a></li>
    </ul>
  <% end %>
  <%= yield %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
