<h1>Card Collecting Appy Thingy</h1>

<div class="signup_area">
<form action="/signup" method="post">
  <label>First Name
    <input type="text" name="first_name">
  </label>
  <label>Last Name
    <input type="text" name="last_name">
  </label>
  <label>Email
    <input type="text" name="email">
  </label>
  <label>Password
    <input type="password" name="password">
  </label>
  <input class="signup_button" type="submit" value="Sign Me Up!">
</form>
</div>

<div class="signin_area">
  <button class="member_button_class" id="member_button_id" type="button">Already a member?</button>

  <div class="signin_form_area hide">
    <form action="/signin" method="post">
      <label>Email
        <input type="text" name="email">
      </label>
      <label>Password
        <input type="password" name="password">
      </label>
      <input type="submit" value="Sign In">
    </form>
  </div>
</div>